.form .register-form {
    /* display: none; */
}

.container:before,
.container:after {
    content: "";
    display: block;
    clear: both;
}

.logout-btn {
    width: 68px;
}

.login-page button {
    margin: 5px 0px 10px;
}

.admin-aside {
    border-right: 1px solid #0000001c;
}

.admin-aside > div {
    margin-bottom: 1.5em;
    padding-left: 1em;
}

.admin-aside a {
    display: block;
    margin-left: 1em;
    font-weight: 500;
}

#admin-header {
    display: flex;
    align-items: center;
}

#admin .media h2 {
    align-self: center;
}

.admin-photo img {
    border-radius: 50%;
    margin: 0em auto 2em;
}

#admin-header h2,
.content {
    margin-left: 1em;
}

.thead-dark {
    background-color: #a7b3c6;

}

.type-badge {
    border-radius: 8px;
    border-color: transparent;
    font-weight: 600;
    font-size: 0.7em;
    margin-left: 0.5em;
    outline-width: 0px;
    padding-top: 0.2em;
    transition: 0.2s;
}

.type-badge:hover {
    background-color: #a7b3c6;
    color: white;
}

.delete-bg {
    font-size: 0.9em;
    margin: 0;
    color: rgb(255, 255, 255);
    background-color: #f48f8f;
    border-radius: 4px;
    padding: 0.4em 0.6em;
}

.delete-bg:hover {
    text-decoration: none;
    background-color: red;
}