.form .register-form {
    /* display: none; */
}

.container:before,
.container:after {
    content: "";
    display: block;
    clear: both;
}

.login-page button {
    margin: 5px 0px 10px;
}

.admin-aside {
    border-right: 1px solid #0000001c;
}

.admin-aside > div {
    margin-bottom: 1.5em;
}

.admin-aside a {
    display: block;
    margin-left: 1em;
    font-weight: 500;
}

#admin-header {
    display: flex;
    align-items: center;
}

#admin .media h2 {
    align-self: center;
}

.admin-photo img {
    border-radius: 50%;
    margin: 0em auto 2em;
}

#admin-header h2,
.content {
    margin-left: 1em;
}